[(f:219,d:[a],u:[]),(f:228,d:[],u:[a]),(f:344,d:[r],u:[]),(f:384,d:[r],u:[]),(f:386,d:[r],u:[]),(f:389,d:[r],u:[]),(f:391,d:[r],u:[]),(f:394,d:[r],u:[]),(f:396,d:[r],u:[]),(f:398,d:[r],u:[]),(f:401,d:[r],u:[]),(f:403,d:[r],u:[]),(f:406,d:[r],u:[]),(f:408,d:[r],u:[]),(f:411,d:[r,a],u:[]),(f:442,d:[],u:[a]),(f:563,d:[a],u:[]),(f:587,d:[],u:[a]),(f:803,d:[b],u:[]),(f:810,d:[],u:[b]),(f:870,d:[b],u:[]),(f:875,d:[],u:[b]),(f:934,d:[b],u:[]),(f:941,d:[],u:[b]),(f:1034,d:[b],u:[]),(f:1039,d:[],u:[b]),(f:1085,d:[b],u:[]),(f:1092,d:[],u:[b]),(f:1143,d:[a],u:[]),(f:1173,d:[],u:[a]),(f:1212,d:[a],u:[]),(f:1218,d:[],u:[a]),(f:1220,d:[],u:[r])]
